 <footer class="footer">
<div class="footer__container container">
   <div class="footer__info">
            <div class="footer__link">
               <span class="footer__logo--web">&copy; 2021 | All Rights Reserved | </span> 
               <span>Developed with</span>
               <svg class="footer__form--icon" width="12" height="12">
                        <use href="./images/symbol-defs.svg#icon-favorite-1"></use>
                        </svg>
                   <span>by</span>
                    <a href="#" class="footer__students"> GoIT Students</a>
                </div>
     
</div>        
    </footer>
