.header {
  width: 100%;
  min-height: 230px;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.56);
  background-repeat: no-repeat;
  background-position: center;
  @include beforeTablet {
    padding-top: 46px;
  }
  @include tablet {
    padding-top: 41px;
  }
  @include desktop {
    padding-top: 43px;
  }

  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
    url('../images/home1xmob.jpg');

  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url('../images/home2xmob.jpg');
  }
}

@include tablet {
  .header {
    text-align: center;
    min-width: 768px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url('../images/home1xtab.jpg');

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: linear-gradient(to right, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
        url('../images/home2xtab.jpg');
    }
  }
}
@include desktop {
  .header {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url('../images/home1xdesk.jpg');

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: linear-gradient(to right, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56))
        url('../images/home2xdesk.jpg');
    }
  }
}

//library
.library {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
    url('../images/libr1xmob.jpg');

  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url('../images/libr2xmob.jpg');
  }

  @include tablet {
    text-align: center;
    min-width: 768px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url('../images/librtab1x.jpg');

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: linear-gradient(to right, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
        url('../images/librtab2x.jpg');
    }
  }
  @include desktop {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url('../images/librdes1x.jpg');

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: linear-gradient(to right, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56))
        url('../images/librdes2x.jpg');
    }
  }
}

.header__navigation {
  display: block;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.header__menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: auto;
  margin-bottom: 43px;

  @include tablet {
    text-align: center;
    margin-bottom: 37px;
  }
}

.icon--logo {
  fill: currentColor;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: middle;
  @include tablet {
    margin-right: 10px;
  }
}
.header__logo--link {
  &:hover {
    .logo__title {
      text-shadow: 2px 4px 4px rgb(255 255 255 / 40%);
    }
  }
}

.logo__title {
  display: none;
  @include tablet {
    display: inline-block;
    vertical-align: middle;
    color: $white;
    font-family: $ffRegular;
    font-size: var(--font-size30);
    max-width: 141px;
    transition: 0.3s;
  }
}

.header__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  & li:not(:last-child) {
    margin-right: 39px;
  }
}

.header__link {
  display: Flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  text-transform: uppercase;
  color: $white;
  font-family: $ffMedium;
  font-size: var(--font-size12);
}

.header__link::after {
  display: block;
  position: absolute;
  content: '';
  left: 0;
  top: 15px;
  width: 100%;
  height: 3px;
  background: $orange;
  opacity: 0;
  @extend %transitionTransform;
  transform: scaleX(0);
}

.header__link--current::after {
  opacity: 1;
  @extend %transitionTransform;
  transform: scaleX(1);
}

.header__link:hover::after,
.header__link:focus::after {
  opacity: 1;
  transform: scalex(1);
}

.header__form {
  display: block;
  min-height: 20px;
  position: relative;
  border-bottom: 1px solid $grey;
  font-size: var(--font-size14);
  max-width: 340px;
  margin: 0 auto 22px;
  @include tablet {
    width: 336px;
    margin: 0 auto;
    margin-bottom: 22px;
  }
  &:focus,
  &:focus-within,
  &:hover {
    border-color: $orange;
  }
  &:focus-within,
  &:hover {
    .header__form--button {
      .header__form--icon {
        stroke: $orange;
        //fill: $orange;
        transform: scale(1.3);
      }
    }
  }
}

.header-input {
  vertical-align: middle;
  //color: $white;
  color: gainsboro;
  font-family: $ffRegular;
  font-size: var(--font-size14);
  background-color: transparent;
  width: 100%;
  outline: none;
  padding: 5px 20px 5px 5px;

  &::input-placeholder {
    opacity: 1;
    transition: opacity 0.3s ease;
  }
  &:focus::placeholder {
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  @include tablet {
    min-width: 336px;
  }
}

//placeholder//
.header__form input::placeholder {
  text-align: left;
  background-color: transparent;
  color: gainsboro;
}

.header__form--button {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  border: none;
  outline: none;
  cursor: pointer;
  background: transparent;
}

.header__form--icon {
  transition: fill, transform 0.3s;
  stroke: whitesmoke;
  &:hover {
    fill: $orange;
    stroke: $orange;
    transform: scale(1.3);
  }
}

//cтили сообщения//
.header__notice {
  display: flex;

  flex-wrap: wrap;
  justify-content: center;
  text-align: left;
  font-size: var(--font-size14);
  font-family: $ffRegular;
  color: $red;
  line-height: 1.14;

  width: 280px;
  @include tablet {
    width: 100%;
    text-align: center;
    margin: 0 auto;
  }
}

.header__list--button {
  display: flex;
  text-align: center;
  align-items: center;
  & li:not(:last-child) {
    margin-right: 20px;
  }
}

.header__block--button {
  display: flex;
  justify-content: center;
  margin-top: 49px;
}

.header__button--library {
  right: 0px;
  cursor: pointer;
  background: transparent;
  display: inline-flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  min-width: 129px;
  min-height: 44px;

  font-family: $ffMedium;
  font-size: var(--font-size12);
  line-height: 0.75;
  color: $white;
  text-transform: uppercase;
  border: $border;
  border-radius: $borderRadius;
  outline: none;
  padding-top: 14px;
  padding-bottom: 12px;
  padding-left: 38px;
  padding-right: 38px;
  @extend %transitionBackgrColor;
  &:hover,
  &:focus {
    background-color: $orange;
  }
  &:active {
    background-color: transparent;
  }
  @include tablet {
    width: 136px;
  }
}
.hidden {
  display: none;
}
.btn-is-active {
  background: $orange;
}
